[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Encoding=UTF-8
Version=1.0
Icon=harbour-pipes
Comment=Classic puzzle game
Exec=sailfish-qml harbour-pipes
Name=Pipes
Name[de]=Rohre
Name[pl]=Rury
Name[fi]=Putkia
Name[sv]=Rör

[X-Sailjail]
OrganizationName=pl.arusekk
ApplicationName=pipes
Permissions=
